<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         verbose="false">
    <testsuites>
        <testsuite name="Test">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <file>src/Veridu/Exception/Exception.php</file>
                <file>src/Veridu/API/Exception/APIError.php</file>
                <file>src/Veridu/API/Exception/EmptySession.php</file>
                <file>src/Veridu/API/Exception/EmptyWidgetSession.php</file>
                <file>src/Veridu/API/Exception/EmptyWidgetUsername.php</file>
                <file>src/Veridu/API/Exception/InvalidFormat.php</file>
                <file>src/Veridu/API/Exception/InvalidMethod.php</file>
                <file>src/Veridu/API/Exception/InvalidResponse.php</file>
                <file>src/Veridu/API/Exception/InvalidUsername.php</file>
                <file>src/Veridu/API/Version.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
