<?php

class autoload {
	private $includePath;
	private $map;

	public function __construct($includePath = null) {
		$this->includePath = $includePath;
	}

	//https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-0.md
	public function loadClass($name) {
		$name = ltrim($name, '\\');
		$file  = (is_null($this->includePath) ? '' : $this->includePath . DIRECTORY_SEPARATOR);
		$namespace = '';
		$pos = strrpos($name, '\\');
		if ($pos !== false) {
			$namespace = substr($name, 0, $pos);
			$name = substr($name, ($pos + 1));
			if (isset($this->map[$namespace]))
				$file = $this->map[$namespace];
			$file .= str_replace('\\', DIRECTORY_SEPARATOR, $namespace) . DIRECTORY_SEPARATOR;
		}
		$file .= str_replace('_', DIRECTORY_SEPARATOR, $name) . '.php';
		require $file;
	}

	public function register($prepend = false) {
		spl_autoload_register(array($this, 'loadClass'), true, $prepend);
	}

	public function addMap($prefix, $path) {
		$prefix = trim($prefix, '\\') . '\\';
		$path = rtrim($path, DIRECTORY_SEPARATOR) . DIRECTORY_SEPARATOR;
		$map[$prefix] = $path;
	}

	public function setIncludePath($path) {
		$this->includePath = $path;
	}

	public function getIncludePath() {
		return $this->includePath;
	}

}

$autoload = new autoload;
$autoload->register();
return $autoload;